<%- contentFor('body') %>

<div class="display-bckgnd info"></div>
<form class="show info" action="/pokemon" method="post">
  <h2 id="name">Name:</h2>
    <input type="text" name="name" placeholder="Pokemon Name">
    <h2>Trainer:</h2>
    <!-- <input type="number" name="trainer_id" placeholder="Pokemon Trainer Id"> -->
    <select name="trainer_id">
      <% for (var i = 0; i < trainers.length; i++) { %>
          <option value="<%= trainers[i].id %>"><%= trainers[i].name %></option>
      <% } %>
    </select>
    <h2>CP:</h2>
    <input type="number" name="cp" placeholder="Combat Power">
    <input id="submit" type="submit" value="Submit Pokemon">
</form>

<link rel='stylesheet' href='/stylesheets/new-edit.css' />
