.table-div {
  height: 60vh;
  overflow: scroll;
  position: absolute;
  right: 4vw;
  top: 12vh;
  padding: 1vw 1vw none;
}

.table-div-bckgnd {
  background-color: black;
  opacity: 0.85;
  height: 61vh;
  width: 67vw;
  position: absolute;
  right: 3vw;
  top: 12vh;
}

table {
  color: #962022;
  font-family: pokemon GB;
  font-size: 1.05vw;
  border-collapse: collapse;
}

th {
  color: #E9B756;
}

h2 {
  color: #962022;
  margin: 0px;
  position: absolute;
  right: 3vw;
  top: 4vh;
  font-family: pokemon GB;
  font-size: 4vw;
}

td {
  padding: 0.5vw;
  text-align: center;
}

td a {
  color: #962022;
}

.error {
  color: red;
}
