.pokemon-wear-section {
  position: relative;
  background: url('/images/ball_background_opaque.png');
  background-repeat: no-repeat;
  background-position: -20vw 0%;
  background-size: cover;
  width: 140%;
}

.info {
  position: absolute;
  height: 26vw;
  min-height: 310px;
  width: 28vw;
  top: 3vw;
  left: 5vw;
  padding: 2vw;
}

.display-bckgnd {
  background-color: black;
  opacity: 0.65;
}

h1,
h2,
h3 {
  font-family: pokemon GB;
  color: #3560A5;
}

a {
  font-family: pokemon GB;
  color: #3560A5;
}

.show h1 {
  font-size: 3vw;
  color: #962022;
}


.show h2 {
  font-size: 2vw;
  margin-top: 1.5vw;
}

.show h3 {
  font-size: 1.5vw;
  margin-top: -1.5vw;
  height: 25px;
}

.table-div {
  margin: 13vw 0 0 12vw;
  height: 24vh;
  overflow: scroll;
}
