.pokemon-wear-section {
  position: relative;
  background: url('/images/ball_background_opaque.png');
  background-repeat: no-repeat;
  background-position: -40vw 0%;
  background-size: cover;
  width: 170%;
}

.info {
  position: absolute;
  height: 26vw;
  min-height: 310px;
  width: 28vw;
  top: 3vw;
  left: 5vw;
  padding: 2vw;
}

.display-bckgnd {
  background-color: black;
  opacity: 0.65;
}

.show h1,h2 a {
  font-family: pokemon GB;
  color: #3560A5;
}

.show h1 {
  font-size: 3vw;
  color: #962022;
}


.show h2 {
  font-size: 2vw;
  margin-top: 1vw;
}

#name {
  margin-top: 0px;
}
.show h3 {
  font-size: 1.5vw;
  text-align: right;
  margin-top: -1.5vw;
  height: 25px;
}

.show input {
  height: 2vw;
  text-align: right;
  font-size: 2vw;
  background-color: #959E9B;
  border: none;
  width: 15vw;
  margin: -1.5vw 0 0 11vw;
}

.show select {
  font-size: 2vw;
  width: 15vw;
  background-color: #959E9B;
  text-align: right;
  margin: -1.5vw 0 0 11vw;
  border-radius: 0;
}

#submit {
  background-color: #962022;
  margin: 2.5vw;
  height: 3vw;
  text-align: center;
  width: auto;
  margin: 2.5vw 2.5vw 0;
  border-radius: 5px;
  font-family: pokemon GB;
  font-size: 1.5vw;
}
