
<div class="display-bckgnd info"></div>

<div class="show info">
  <h1>Trainers</h1>
  <% for (var i = 0; i < trainers.length; i++) { %>
    <h2>
      <a href="/trainers/<%= trainers[i].id %>"><%= trainers[i].name %></a>
    </h2>
  <% } %>
</div>


<link rel='stylesheet' href='/stylesheets/trainers.css' />
